#main h1 {
    font-size: calc(40px + 3vw);
}

.contact-img-container {
    height: 100px;
}

.contact-img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 100px;
    min-height: 100px;
}

.contact-details {
    letter-spacing: 5px;
}